<ul class="list-group">
    <div *ngFor="let list_item of list.slice(((currentPage-1)*itemsPerPage), 
        ((currentPage)*itemsPerPage)); let i=index" >
    <li [ngStyle]="styling" class="listitem">
                <div [innerHTML]="list_item"></div>
    </li>
    </div>  
</ul>
<div style="text-align:center">
    <pagination [boundaryLinks]="true" 
                [itemsPerPage]="itemsPerPage"
                [totalItems]="totalItems"
                [(ngModel)]="currentPage"
                [maxSize]="maxSize"
                [rotate]="'false'"
                [previousText]="'&lsaquo;'" 
                [nextText]="'&rsaquo;'" 
                [firstText]="'&laquo;'" 
                [lastText]="'&raquo;'"
                *ngIf="list.length > itemsPerPage">
    </pagination>
</div>