<div class="top_bar" *ngIf="titleVisible === true">
    <span *ngIf="customTitle === false">
        The file(s) contains 
        <span *ngFor="let list of listNames(); let i = index"
        [style.color] = "listColor(list)">
            <span *ngIf="totalCount(list) > 0">
                <b>{{totalCount(list)}} {{list|lowercase}}</b>
                <span *ngIf="i < listNames().length-1" class="and-text">
                    and
                </span>
            </span>
        </span>
    </span>
    <span *ngIf="customTitle === true" [innerHtml] = "title">
    </span>
</div>
<div class="tab-controller">
    <span class="download">
            <i class="zmdi zmdi-download zmdi-hc-3x"></i>
    </span>
    <div class="filetabs">
        <md-tab-group>
            <span *ngFor="let file of fileList(); let i=index">
                <md-tab label={{file|uppercase}}
                    *ngIf="fileCount(file) > 0">
                    <accordion-view [file-data]="fileData(file)"></accordion-view>
                </md-tab>
            </span>
        </md-tab-group>
    </div>
</div>